  a {
    text-decoration: none;
    color: #0066CC;
  }
  a:hover {
    color: black;
  }
  #photo { 
  margin-top: 50px;
  margin-left: 400px;
  width: 655px;
  border-radius: 50%;
}
  h1 {
      margin-top: 15px;
      margin-bottom: 0px;
      font-family: 'Tangerine';
      font-size: 105px;
      text-align: center;
      color: black;
  }

  #line {
    width: 75%;
    background-color: pink;
  }

section.content {
  margin-left: 200px;
  margin-right: 200px;
}

h2 {
  
  text-align: center;
  font-color: black;
  font-size: 50px;
  margin: 10px 0 20px 0;
}

p {
  margin-top: 0px;
}

body {
  
  font-size: 35px;
}

#project-list {
  display: flex;                  /* Flex box */
  flex-direction: row;            /* Left to right */
  flex-wrap: wrap;                /* Wrap content */
  justify-content: space-between; /* Spread space */
}

.project {
  flex: 0 0 305px;                /* No grow/shrink, 140px width */
  height: 270px;
  margin-right: 25px;
  margin-bottom: 25px;
  background-color: #7AA3CC;
  display: inline-block;
  width: 310px;
}

.project {
  transition: 0.2s background-color; /* add this */
}

.project:hover {
  background-color: #0066CC;
}

ul li{
  margin-left: 80px;
  margin-right: 25px;
  text-decoration: none;
  display: inline;
}

ul li a: hover {
  color: black;
}

footer {
  text-align: center;
}